.pagination-bar {
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination-wrapper {
	&:has(.limit-wrapper) {
		position: relative;

		@media screen and (max-width: 640px) {
			flex-direction: column;
			align-items: center;
		}
	}

	.limit-wrapper {
		position: absolute;
		display: flex;
		right: 8px;

		@media screen and (max-width: 640px) {
			margin-top: 10px;
			position: relative;
		}
	}
}

.pagination-list {
	display: flex;
	list-style-type: none;

	.pagination-item {
		padding: 0 12px;
		height: 32px;
		text-align: center;
		margin: auto 4px;
		color: rgba(var(--font-primary) / 1);
		display: flex;
		box-sizing: border-box;
		align-items: center;
		letter-spacing: 0.01071em;
		border-radius: 16px;
		line-height: 1.43;
		font-size: 13px;
		min-width: 32px;

		&.dots:hover {
			background-color: transparent;
			cursor: default;
		}

		&:hover {
			background-color: rgba(var(--hover) / 0.8);
			cursor: pointer;
		}

		&.selected {
			background-color: rgba(var(--hover));
		}

		.arrow {
			&::before {
				position: relative;
				/* top: 3pt; Uncomment this to lower the icons as requested in comments*/
				content: '';
				/* By using an em scale, the arrows will size with the font */
				display: inline-block;
				width: 0.4em;
				color: rgba(var(--font-primary) / 1);
				height: 0.4em;
				border-right: 0.12em solid rgba(var(--font-primary) / 1);
				border-top: 0.12em solid rgba(var(--font-primary) / 1);
			}

			&.left {
				transform: rotate(-135deg) translate(-50%);
			}

			&.right {
				transform: rotate(45deg);
			}
		}

		&.disabled {
			pointer-events: none;
			cursor: not-allowed;
			background-color: transparent;
			color: rgba(var(--font-primary) / 1);

			.arrow::before {
				border-right: 0.12em solid rgba(var(--font-primary) / 0.5);
				border-top: 0.12em solid rgba(var(--font-primary) / 0.5);
			}

			&:hover {
				background-color: transparent;
				cursor: default;
			}
		}
	}
}
